{# Resources/contao/templates/frontend_module/newspullrelated.html.twig #}

<div {% if cssID[0] %}id="{{ cssID[0] }}"{% endif %} class="newsPullRelated{% if cssID[1] %} {{ cssID[1] }}{% endif %}">
    {% if related_news is not empty %}
        {% if headline_text %}
          <{{ headline_unit }} class="newsPullRelated__headline">{{ headline_text }}</{{ headline_unit }}>
        {% endif %}
        <ul class="newsPullRelated__list">
            {% for item in related_news %}
                <li class="newsPullRelated__listItem">
                    <a href="{{ item.url }}" title="{{ read_article_title|format(item.article.headline|striptags) }}">
                      {{ item.article.headline|striptags }}
                    </a>
                    <span class="newsPullRelated__date">{{ item.date|date('d.m.Y') }}</span>
                    {% if item.relevance > 0 %}
                      <span class="newsPullRelated__relevance"><strong>Relevanz:</strong> {{ item.relevance }}</span>
                    {% endif %}
                    {% if item.keywords %}
                      <span class="newsPullRelated__keywords"><strong>Keywords:</strong> {{ item.keywords }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ no_related }}</p>
    {% endif %}
</div>